# Virtual Environment
venv/
.venv
pyvenv.cfg

# IDE-specific
.idea/

# Compiled Python files
*.pyc
__pycache__/

# Database


# Static files
staticfiles/

# Media files (uploads, user-generated content)


# Environment-specific files
.env

Lib/
Scripts/