{% extends "base.html" %}

{% block titulo %}

{% endblock %}


{% block content %}


<div class="container-md">
    <div class="row">
      <div class="col">
          <center><h1 class="blog-post-title"> {{ object.titulo }} </h1></center>
          <br>

          <div class="blog-post-meta">
                <center><img class="img-fluid" src="{{object.imagem.url}}" alt="" width="1100px"><center>
          </div>

          <div class="blog-post-meta">
            <p class="fw-normal">
                <span>{{ object.id_categoria }}</span> |  
                <strong>Autor:</strong> {{ object.id_autor.autor }} |  
                <strong>{{ object.data_publicacao|date:"d-m-Y"  }}</strong>
              </p>
            <span class="fw-normal lh-base ">
              {{ object.conteudo|safe }}
          
             
            </span>
            <br>            
          </div>
    </div>
  </div>
</div>

<div> 
  <div class="card mb-3">
    <div class="card-body">
      <img src="/media/{{ object.id_autor.imagem }} " width="80px" class="float-start rounded-circle pe-3" alt="foto-autor">
      <h5 class="card-title">Autor: {{ object.id_autor.autor }}</h5>
      <p class="card-text ">{{ object.id_autor.descricao }}</p>
    </div>
  </div>
</div>

<div class="comment-container">
  <h5>Deixe um comentário</h5>
  <form id="commentForm" onsubmit="submitComment(event)">
      <label for="username">Nome de Usuário:</label>
      <input type="text" id="username" name="username" placeholder="Digite seu nome de usuário.." required>

      <label for="comment">Comentário:</label>
      <textarea id="comment" name="comment" placeholder="Digite seu comentário aqui.." rows="4" required></textarea>

      <label for="date">Data:</label>
      <input type="date" id="date" name="date" required>

      <input type="submit" value="Enviar">
  </form>
</div>



{% endblock %}