{% extends "base.html" %}

{%block content %}

<hr class="featurette-divider">
{% if ult_noticias %}
{% for noticia in ult_noticias %}
<article class="blog-post">
  <div style="display:flex;  align-items: center;"> {{ult_noticia}}
    <div style="width:150px; height:80px; overflow-y: hidden; border-radius: 15px 50px;" >
      <img src="/media/{{noticia.imagem}}" style="float: left; margin-right: 20px;" width="250" alt="image_noticia">
    </div>
    <div style=" flex: 1; margin: 20px;">
      <h4 class="text-white"><a href="{% url 'noticia' noticia.pk %}" class="text-white text-decoration-none">{{ noticia.titulo|slice:":50" }}...</a></h4>
      <p class="blog-post-meta">{{ noticia.data_publicacao }} 
    </div>
  </div>     
</article>
{% endfor %}
{% else %}
  <div class="container"> 
    <h3 class="text-white">Nenhum resultado encontrado para a busca</h3>
  </div>
{% endif %}
{%endblock%}